<html>
	<head>
		<link rel="stylesheet" href="bootstrap.min.css" />
		<link rel="stylesheet" href="bootstrap-theme.min.css">
		<link rel="stylesheet" href="select2.min.css" />
		<link rel="stylesheet" href="select2-bootstrap.min.css" />
		<link rel="stylesheet" href="display_preferences.css" />

		<title>FBO-Mailer Login</title>
	</head>
	<body>
		<center>
		<div id="pagetitle"><h1>FBO-Mailer Error</h1></div><br><br><br><br><br><br><br>
		<div><h3>404</h3></div>
		<div><h3>Page not found</h3></div><br><br>
		<br><br>
		<div>Ensure that you have correctly typed your UT Dallas Net ID in the URL</div>
		</center>
		<script src="jquery.min.js"></script>
	</body>
</html>